@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: "PTSAN";
    font-style: normal;
    font-weight: 400;
    src: url("./Fonts/PTSans-Regular.ttf") format('ttf');
}


html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e7e6e5;
    height: 100%;
    width: 100%;

}

* {
    box-sizing: border-box;
}

/* ****** */
/* Header */
/* ****** */

.title {
    text-align: center;
    font-size: min(max(64px, 5vw), 54px);
    font-family: "PTSAN"; 
    margin: .25em;
}


.nav ul{
    margin: 0; 
    font-family: "PTSAN";
}

.nav li {
    display: inline;
    margin-right: 10px;
    font-family: "PTSAN";
}

.nav a {
    display: inline-block;
    padding: .5em; 
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    font-size: min(max(18px, 4vw), 38px);
    text-decoration: none;
    font-family: "PTSAN";
}

.nav a:hover {
    background-color: #e7e6e5
}

.main-header {
    position: sticky;
    font-family: "PTSAN";
    background-color: rgba(1, 54, 85, 0.5);
    color: white ;
    padding: 10px 0;
    text-align: center;
    border: 1em solid #e7e6e5;
    border-radius: 60px; /* Adjust the value to increase or decrease the roundness */ 
}

.projects-header{
    padding: 3px 1em;
    font-size: min(max(55px, 5vw),  45px);
    color: white;
    background-color: rgba(1, 54, 85, 0.5);
    border: 1em solid #e7e6e5;
    border-radius: 60px; /* Adjust the value to increase or decrease the roundness */ 
    text-align: center;
}

.video-container {
    width: 80%; /* Container takes 80% width of the parent */
    position: relative;
    overflow: hidden; /* Ensure no overflow of the iframe */
    margin: 0 auto 1em; /* Center horizontally and add space below */
    max-height: 800px; /* Set the maximum height */
}

.video-container::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 aspect ratio padding */
}

.video-container iframe {
    position: absolute; /* Position out of the flow, but according to the nearest parent */
    top: 0;
    left: 0;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    border-radius: 2em;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
}


/* Content */

.content-section {
    position: relative;
    margin: 1em; 
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center; /* Optional, for horizontal centering */
    /* height: 100vh; Adjust as necessary */
}

.container {
    max-width: 1100px; 
    margin: 0 auto;
    padding: 0 1.5em; 
    border-bottom: 20px solid rgba(1, 54, 85, 0.5); /* Assuming you want a bottom border */
    
}

.BIO_Image {
    float: left;
    width: 10vw; 
    width: min(max(250px, 10vw), 350px);
    margin: 0 20px 0 0; 
    border-radius: 10px;
}

.contact-info {
    max-width: 1100px;
    clear: both;
    font-family: "PTSAN_B"; 
    font-size: min(max(14px, 4vw), 26px);
    align-self: flex-start; /* Aligns the item to the left within the flex container */
}

.contact-center {
    font-family: "PTSAN";
   text-align: center;
   font-size: min(max(20px, 4vw),  40px);
}

.gen_text {
    font-family: "PTSAN";
    position: relative;
    font-family: "PTSAN";
    font-size: min(max(2vw, 4vw), 34px);
}

.large_text{
    position: relative;
    font-family: "PTSAN";
    font-size: min(20vw, 40px);
    border: 30px; 
}

/* Default styles */
.projects {
    padding: 1em;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project {
    max-height: 500px;
}


.project_pic {
    width: 350px; /* Set a fixed width for the container */
    height: 300px; /* Set a fixed height for the container */
    overflow: hidden; /* Hide any overflow */
    border-radius: 1em;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
    margin: 0 auto; /* Center the project container horizontally on the page */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_details {
    width: 100%; /* Ensure the text container takes full width of the parent */
    text-align: center; /* Center the text */
    box-sizing: border-box; /* Include padding and border in the element's width */
    font-size: min(max(24px, 3vw), 28px);
}

/* Styles for screens less than 600px wide */
@media (orientation : portrait) and (max-device-width : 1223px) {
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
        padding: 0.5em;
    }

    .project {
        max-height: 1000px;
    }

    .project_pic {
        width: 700px; /* Set a fixed width for the container */
        height: 650px; /* Set a fixed height for the container */
        overflow: hidden; /* Hide any overflow */
        border-radius: 1em;
        box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
        margin: 0 auto; /* Center the project container horizontally on the page */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project_details {
        width: 100%; /* Ensure the text container takes full width of the parent */
        text-align: center; /* Center the text */
        box-sizing: border-box; /* Include padding and border in the element's width */
        font-size: min(max(50px, 3vw), 40px);
    }
}

.project_pic img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: contain; /* Maintain the aspect ratio and contain the image within the container */
}




.project_details strong,
.project_details span {
    display: block; /* Ensure elements stack vertically */
    margin: 0.5em 0; /* Add spacing between elements */
}

.project_image{
    left: 5vh;
    max-width: 300px;
    border-radius: 1em;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
    margin: 0 auto; /* Center the project container horizontally on the page */

}

.collage_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.collage_image {
    width: 95%;
    height: 95%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.contact{
    font-size: 3vw;
    padding: 15px;
}

.photo_grid_center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    width: 80vw;
    max-width: 640px;
}

.photo-grid .img {
    overflow: hidden;
}

.photo-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.Project_Title{
    position: relative;
    font-family: "PTSAN";
    text-align: center;
    font-size: min(max(40px, 5vw), 72px);
}

.list_container {
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    max-width: 900px;
    width: 100%;
    margin: 25px; 
    align-self: center;

}

.styled-list {
    list-style-type: none;
    padding: 0;
}

.styled-list li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 2vw;
    font-size: min(18vw, 30px);
    color: #000000;
}

.summary{
    font-size: 2vw;
    font-size: min(18vw, 30px);
}

.styled-list li:before {
    content: '•';
    position: absolute;
    left: 0;
    top: 50%; /* Align vertically to the middle of the text */
    transform: translateY(-50%); /* Adjust vertical alignment */
    color: #015974; /* Bullet color */
    font-size: 28px;
    line-height: 1;
}

.styled-list li:last-child {
    margin-bottom: 0;
}

.diagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.diagram {
    width: min(635px, 80vw);
    
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
