@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: "PTSAN";
    font-style: normal;
    font-weight: 400;
    src: url("./Fonts/PTSans-Regular.ttf") format('ttf');
}


html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e7e6e5;
    height: 100%;
    width: 100%;

}

* {
    box-sizing: border-box;
}

/* ****** */
/* Header */
/* ****** */

.title {
    text-align: center;
    font-size: 4em;
    font-family: "PTSAN"; 
    margin: .25em;
}

.nav ul{
    margin: 0; 
}

.nav li {
    display: inline;
    margin-right: 10px;
}

.nav a {
    display: inline-block;
    padding: .5em; 
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
    font-size: min(max(16px, 4vw), 32px);
    text-decoration: none;
}

.nav a:hover {
    background-color: #e7e6e5
}

.main-header {
    position: sticky;
    background-color: rgba(1, 54, 85, 0.5);
    color: white ;
    padding: 10px 0;
    text-align: center;
    border: 1em solid #e7e6e5;
    border-radius: 60px; /* Adjust the value to increase or decrease the roundness */ 
}

.projects-header{
    padding: 3px 1em;
    font-size: min(max(20px, 4vw),  40px);
    color: white;
    background-color: rgba(1, 54, 85, 0.5);
    border: 1em solid #e7e6e5;
    border-radius: 60px; /* Adjust the value to increase or decrease the roundness */ 
    text-align: center;
}

.video-container {
    width: 80%; /* Container takes 80% width of the parent */
    position: relative;
    overflow: hidden; /* Ensure no overflow of the iframe */
    margin: 0 auto 1em; /* Center horizontally and add space below */
    max-height: 800px; /* Set the maximum height */
}

.video-container::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 aspect ratio padding */
}

.video-container iframe {
    position: absolute; /* Position out of the flow, but according to the nearest parent */
    top: 0;
    left: 0;
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    border-radius: 2em;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
}


/* Content */

.content-section {
    position: relative;
    margin: 1em; 
}

.container {
    max-width: 1100px; 
    margin: 0 auto;
    padding: 0 1.5em; 
    border-bottom: 20px solid rgba(1, 54, 85, 0.5); /* Assuming you want a bottom border */
}

.BIO_Image {
    float: left;
    width: 10vw; 
    width: min(max(150px, 10vw), 200px);
    margin: 0 20px 0 0; 
    border-radius: 50%;
}

.contact-info {
    
    max-width: 1100px;
    clear: both;
    font-family: "PTSAN_B"; 
    font-size: 2vw;
    font-size: min(max(14px, 4vw), 26px);
}

.contact-center {

   text-align: center;
   font-size: min(max(20px, 4vw),  40px);
}

.gen_text {
    position: relative;
    font-family: "PTSAN";
    font-size: 2vw;
    font-size: min(max(2vw, 4vw), 26px);
}

.projects {
    padding: 1em;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.projects {
    padding: 1em;
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.project {
    max-height: 500px;
}

.project_pic {
    width: 350px; /* Set a fixed width for the container */
    height: 300px; /* Set a fixed height for the container */
    overflow: hidden; /* Hide any overflow */
    border-radius: 1em;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.1);
    margin: 0 auto; /* Center the project container horizontally on the page */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project_pic img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: contain; /* Maintain the aspect ratio and contain the image within the container */
}

.project_details {
    width: 100%; /* Ensure the text container takes full width of the parent */
    text-align: center; /* Center the text */
    box-sizing: border-box; /* Include padding and border in the element's width */
}


.project_details strong,
.project_details span {
    display: block; /* Ensure elements stack vertically */
    margin: 0.5em 0; /* Add spacing between elements */
}

.project_image{
    left: 5vh;
    max-width: 300px;
    border-radius: 1em;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.1);
    margin: 0 auto; /* Center the project container horizontally on the page */

}

.collage_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.collage_image {
    width: 95%;
    height: 95%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.contact{
    font-size: 3vw;
    padding: 15px;
}


